.box {

max-width: 500px;
margin: 30px auto;
padding: 30px;
border: 2px solid darkblue;
text-align: center;
}

.tarefa-box {

background-color: lightcyan;
display: flex;
justify-content: space-between;
margin-top: 25px;
}

.grid_botoes {

display: flex;
}

.botao_grid {

border: 1px solid aqua;
margin: 5px;
cursor: pointer;
}